<div class="card w-100 shadow">
    <div class="card-body">
        <div class="card-title d-flex justify-content-between align-items-center">
            <h3>
                {{question.title}}
            </h3>
            {% if app.user.id is defined and question.user.id == app.user.id %}
            {{ include('question/_delete_form.html.twig') }}
            {% endif %}
        </div>
        
        <p class="card-text">
            {{question.content}}
        </p>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between flex-fill align-items-center">
            <a href="{{path('app_user_questions', {id: question.user.id})}}">
                @{{question.user.name}}
                {{question.user.lastname}}
            </a>
            
            <small class="ms-1">
                {{question.createdAt|format_date(pattern="dd/MM/yy hh:mm")}}
            </small>
        </div>
        
    </div>
    <div class="card-footer d-flex align-items-center {{ comments ? 'justify-content-between' : 'justify-content-center' }}">
        {% if comments %}
            <a class="ms-1 fw-bold question-link" href="{{path('app_question_show', {id: question.id})}}">
                Voir {{question.comments|length}} réponse{% if question.comments|length > 1 %}s{% endif %}
            </a>
        {% endif %}
        {% include "_partials/_rating.html.twig" with {from: 'question', id: question.id, rating: question.rating} %}
    </div>
</div>