{% extends 'base.html.twig' %}

{% block title %}Nouvelle question{% endblock %}

{% block body %}
<h1 class="text-center my-3">Poser votre question</h1>
<div class="gotd-flex justify-content-center">
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <div class="d-flex justify-content-end">
        <button>{{ button_label|default('Poser la question') }}</button>
    </div>
    {{ form_end(form) }}
</div>

    {# {{ include('question/_form.html.twig') }} #}

{% endblock %}
